@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');


:root {
  --logo-font: "Yanone Kaffeesatz";
  --header-font: "Urbanist";
}

.dropdown-menu {
  font-family: var(--header-font);
  padding: 5px 0;
}

.site-logo {
  font-family: var(--logo-font);
  margin: 0 15px;
  font-size: 110%;
  width: 150px;
  display: flex;
  flex-direction: row;

}

.site-logo img {
  width: 50px;
  margin: 0 auto;
  display: block;
}

.site-logo h1 {
  width: fit-content;
  align-self:center;
}

.menubar-link-clickable, .menubar-dropdown {
  padding: 10px;
  margin: 0 5px;
  font-weight: 600;
  text-decoration: none;
  text-color: black;
}

.dropdown-menu {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  align-items: center;
}

.menubar-dropdown .arrow {
  position: relative;
  left: 5px;
}

.dropdown-menu > * {
  border: 1px solid red;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transition: transform 0.2s;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.dropdown-links {
  max-height: fit-content;
  display: unset;
  position: absolute;
}

.collapsed {
  max-height: 0px;
  display: none;
}


