body {
  font-family: 'Trebuchet MS';
}
.sample-text {
  width: 50vw;
  max-width: 500px;
  margin: 15px auto;
}

.sample-text h1 {
  font-size: 125%;
  font-weight: bold;
}

@media (max-width: 600px) {
  .sample-text {
    width: 80vw;
  }
}