.slider {
  border: 2px solid black;
  margin: 0 auto;
  width: 90vw;
  height: 50vh;
  max-height: 500px;
  position: relative;
}

.slider-img-frame {
  height: 100%;
}

.slider .image {
  width: 100%;
  object-fit: cover;
  margin: 0 auto;
  height: 100%;
}

.slider-img-frame figcaption {
  position: absolute;
  bottom: 25px;
  text-align: center;
  left: 25%;
  right: 25%;
  color: white;
}

.caption-title {
  font-weight: bold;
  font-size: 150%;
  text-shadow: 2px 2px BLACK;
}

.slider-controls {
  border: 1px solid red;
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  display: grid;
  grid-template-areas: 
  "prev next"
  "dots pause"
  ;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 80% 20%;
}

.slider-arrow {
  border: solid white;
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 3px;
  width: 25px;
  height: 25px;
  align-self: center;
  margin: 25px;
}

.slider-arrow:hover {
  box-shadow: 2px 2px 3px darkgrey;
}

.slider-arrow.left {
  grid-area: prev;
}

.slider-arrow.right {
  grid-area: next;
  justify-self: end;
}

.slider-pause {
  grid-area: pause;
  justify-self: start;
  align-self: end;
  width: 0;
  height: 20px;
  border-width: 0px 5px 0px 5px;
  border-color: red;
  border-style: solid;
  background-color: transparent;
  box-sizing: border-box;
  padding: 0 5px 0 0;
}

.pause {}

.play {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 12px 12px 12px 12px;
  border-color: transparent transparent transparent red;
  background-color: transparent;
  box-sizing: border-box;
  padding: 0;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.dot-controls {
  grid-area: dots;
  justify-self: end;
  align-self: end;
}
